{% extends "base.html" %}

{% block title %}
Accept Invitation
{% endblock title %}

{% block content %}

    <div class="well col-md-6">
        <p>User {{ invitation.from_user }} invites you to a game.
            He/She included the following message:</p>

        <blockquote> <p> {{ invitation.message }}</p></blockquote>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="accept" value="ok">Accept</button>
            <button type="submit" name="deny" value="no">Deny</button>
        </form>
    </div>

{% endblock %}