{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <form role="form"
          action="{% url 'player_login' %}"
          method="post">
          {% csrf_token %} <!-- For security -->

        <p>Please login.</p>

        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Sign in</button>
    </form>

{% endblock %}