{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    {{ game }}
{% endblock title %}

{% block styling %}
    {{ block.super }}
    <style type="text/css">
        .tictactoe-table {
            width: 300px;
            border-width: 2px;
        }

        .tictactoe-cell {
            background-color: #debb27;
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle !important;
            font-size: 60px;
        }
    </style>
{% endblock styling %}

{% block content %}
    <div class="col-md-5">

        {% if game.status == 'F' %}
            {{ game.first_player }} to play
        {% elif game.status == 'S' %}
            {{ game.second_player }} to play
        {% elif game.status == 'W' %}
            {{ game.first_player }} won!
        {% elif game.status == 'L' %}
            {{ game.second_player }} won!
        {% elif game.status == 'D' %}
            It's a draw!
        {% endif %}

        <table class="table table-bordered tictactoe-table">
            {% for row in game.board %}
                <tr>
                    {% for move in row %}
                        <td class="tictactoe-cell">
                            {% if move %}
                                {% if move.by_first_player %}
                                    X
                                {% else %}
                                    O
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if form %}
        <div class="col-md-4">
            <h3>It's your move</h3>
            <form method="post"
                  action="{% url 'gameplay_make_move' game.id %}">
                {{ form | crispy }}
                {% csrf_token %}

                <button type="submit">Make move</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}